<section class="download" id="download" aria-labelledby="download-title">
  <div class="container download-inner reveal">
    <img class="download-logo" src="{{root}}assets/brand/nexascan-logo.png" alt="" width="96" height="96" loading="lazy">
    <div>
      <h2 id="download-title">{{download_heading}}</h2>
      <p>{{download_text}}</p>
    </div>
    <a class="button button-light" href="{{store_href}}" {{store_rel}}>
      <svg aria-hidden="true" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="M4.6 2.3 13.7 12l-9.1 9.7a1.3 1.3 0 0 1-.6-1.1V3.4c0-.5.2-.9.6-1.1Zm10.3 10.9 2.4 2.5-10.8 6.1 8.4-8.6Zm4-2.3 2.4 1.4c.8.5.8 1.6 0 2.1l-2.4 1.4-2.7-2.9 2.7-2Zm-12.4-9 10.8 6.1-2.4 2.5-8.4-8.6Z"/></svg>
      {{store_label}}
    </a>
  </div>
</section>
